.storybook-input {
  display: block;
  border: 0;
  border-radius: 4px;
  line-height: 1;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  border: 1px solid gray;
  width: 100%;
  position: relative;
  padding-right: 20px;
}

.storybook-reset--icon {
  position: absolute;
  right: -32px;
  top: 40%;
  cursor: pointer;
  outline: none;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.storybook-reset--icon > img {
  color: gray;
  width: 16px;
  height: 16px;
}

.storybook-input--small.spacing,
.storybook-input--medium.spacing,
.storybook-input--large.spacing {
  padding: 10px 32px 10px 16px;
}

.storybook-input--small {
  padding: 10px 16px;
  font-size: 12px;
}

.storybook-input--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.storybook-input--large {
  padding: 12px 24px;
  font-size: 16px;
}
